<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.demo.entity.User" >
    <id column="id" property="id" jdbcType="SMALLINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.demo.entity.User" >
    <selectKey resultType="java.lang.Short" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `user` (`id`, `name`, `pwd`, 
      `birthday`)
    values (#{id,jdbcType=SMALLINT}, #{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=TIMESTAMP})
  </insert>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select `id`, `name`, `pwd`, `birthday`
    from `user`
    where `id` = #{id,jdbcType=SMALLINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select `id`, `name`, `pwd`, `birthday`
    from `user`
  </select>
</mapper>